---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  {% assign post_url = post.url | append: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url | %}
  <article class="post">

    {% if post.banner_image %}
    <div class="banner-image">
      <a href="{{ post_url }}"
        title="{{ post.title }}">
      <img
          src="{{ "/assets/images/" | append: post.banner_image | prepend: site.baseurl | prepend: site.url }}"
          alt="{% if post.banner_image_alt %}{{ post.banner_image_alt }}{% else %}{{ post.title }} {% endif %}">
      </a>
    </div>
    {% endif %}

    <h1 class="post-title">
      <a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}" {% if post.link %} target="_blank"{% endif %}>
        {{ post.title }} {% if post.link %}<span class="link-arrow">&rarr;</span>{% endif %}
      </a>
    </h1>

    <p class="post-meta">
    <!--{% if (post.categories.size > 0 %}
      <span class="categories">
      {{ post.categories | array_to_sentence_string }}
      </span> |
    {% endif %}-->
    <span class="post-date">
    <a class="post-meta" href="{{ post.url }}">{{ post.date | date: "%b %-d, %Y" }}</a>{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}
    </span>
    </p>

    {{ post.content }}
    <!--<a href="{{ post.url | append: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url |  }}">
      Continue reading »
    </a>-->
<div class="author-info">
    {% if site.theme.show_author_info %}
      {% include author.html %}
    {% endif %}

    {% if site.theme.show_share_buttons %}
      {% include share-buttons.html %}
    {% endif %}
  </div>
  </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">

  {% if paginator.next_page %}
      <a class="pagination-item older btn" href="{{ paginator.next_page_path | prepend: site.baseurl | append: '/' | replace: '//', '/' }}">Older</a>
  {% else %}
    <span class="pagination-item older btn-disabled">Older</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-item newer btn " href="{{ paginator.previous_page_path | prepend: site.baseurl | append: '/' | replace: '//', '/' }}">Newer</a>
  {% else %}
    <span class="pagination-item newer btn-disabled">Newer</span>
  {% endif %}

</div>
{% endif %}

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "{{ '' | prepend: site.baseurl | prepend: site.url | append: '/' }}"
    }
}
</script>
