{% capture share_button %}
<div class="share-buttons">
  <h5>Share this post on</h5>
  {% if page.id == null %}
  <ul class="social-media">
    <li>
        <a title="{{ site.theme.social.twitter }} on Twitter"
          href="https://twitter.com/intent/tweet?original_referer={{site.url}}{{post.url}}&amp;text={{post.title}}&#32;&#58;&#32;&amp;url={{site.url}}{{post.url}}" class="twitter wc-img-replace" target="_blank">
          Twitter
        </a>
    </li>
    <li>
        <a title="{{ site.theme.social.gplus }} on Google Plus"
            href="https://plus.google.com/share?url={{site.url}}{{post.url}}"
            class="google wc-img-replace" target="_blank">Google</a>
    </li>
    <li>
        <a title="{{ site.theme.social.facebook }} on Facebook"
            href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{post.url}}&amp;t={{post.title}}"
            class="facebook wc-img-replace" target="_blank">Facebook</a>
    </li>
  </ul>
  {% else %}
  <ul class="social-media">
    <li>
        <a title="{{ site.theme.social.twitter }} on Twitter"
          href="https://twitter.com/intent/tweet?original_referer={{site.url}}{{page.url}}&amp;text={{page.title}}&#32;&#58;&#32;&amp;url={{site.url}}{{page.url}}" class="twitter wc-img-replace" target="_blank">
          Twitter
        </a>
    </li>
    <li>
        <a title="{{ site.theme.social.gplus }} on Google Plus"
            href="https://plus.google.com/share?url={{site.url}}{{page.url}}"
            class="google wc-img-replace" target="_blank">Google</a>
    </li>
    <li>
        <a title="{{ site.theme.social.facebook }} on Facebook"
            href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}&amp;t={{page.title}}"
            class="facebook wc-img-replace" target="_blank">Facebook</a>
    </li>
  </ul>
{% endif %}
</div>
{% endcapture %}{{ share_button | strip_newlines }}
