<header class="site-header animated">
  <a class="site-header__link" href="/about/"><img class="site-header__photo" src="{{ site.picture }}" alt="{{ site.name }}"></a>
  <h1 class="site-header__title">{{ site.name }}</h1>
  <h2 class="site-header__description">{{ site.bio }}</h2>
  {% include "social-links.njk" %}
</header>
